@charset "UTF-8";
/**
 * Teq Online Professional Development Course Library and Category Details
 */

 article {
   margin-bottom: 2.5rem;
 }

 article .card {
   height: 100%;
   border: none;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
 }

 article .card.sm-card {
  height: 15.5rem;
  margin-bottom: 1.5rem;
  border: none;
 }

 article .card .card-text {
   overflow: hidden;
   max-height: 6.55rem;
   line-height: 1.35rem;
 }

 .card.thread-post {
   background-color: rgba(255, 255, 255, .85);
   margin-bottom: .25rem;
   border: none;
   border-radius: 0;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
 }

 .card.thread-post span.stat-text {
   color: rgba(200, 222, 255, 0.95);
 }

 .card .card-header, .card .card-footer {
   border: none;
 }

 .card.sm-card .card-header {
   height: 2.75rem;
 }

 .card .card-header {
   background-color: rgba(109, 140, 188, 1);
   padding: 1.25rem 1rem;
 }

 .card.sm-card .card-header {
   background-color: rgba(200, 222, 255, 1);
   padding: .75rem 1.25rem;
 }

 .card-header span {
   margin-left: 30px;
   font-size: .9rem;
   color: rgb(200, 222, 255);
 }

 .card.sm-card span, .course-details span {
   margin-left: 30px;
   font-size: .9rem;
   color: rgb(109, 140, 188);
 }

 .card.sm-card p.card-text {
   font-size: .75rem;
 }

 .card-header li.nav-item, .card-header li.nav-item img, .course-details li.nav-item {
   height: 2rem;
   margin-right: .5rem;
 }

 .card-header li.nav-item:last-child, .course-details li.nav-item:last-child {
   width: 1rem;
   position: absolute;
   right: 0;
 }

 .card.sm-card .card-header p.category-duration-details, .course-details li.category-duration-details {
   background: url('images/catetory-details-duration-small-icon.svg') no-repeat center left;
 }

 .card-header li.category-duration-details {
   background: url('images/catetory-details-duration-icon.svg') no-repeat center left;
 }

 .card-header li.category-chapters-details, .course-details li.category-chapters-details {
   background: url('images/catetory-details-chapters-icon.svg') no-repeat center left;
 }

 .card-header li.category-sessions-details, .course-details li.category-sessions-details {
   background: url('images/catetory-details-sessions-icon.svg') no-repeat center left;
 }

 .card-header a.dropdown-toggle::after, .course-details a.dropdown-toggle::after {
   border: none;
 }

 .card-title a {
   display: block;
   font-weight: 700;
 }

 .card .card-footer {
   background-color: white;
 }

 .card .card-footer img {
   width: 2rem;
   float: right;
 }

div.category-search-box-wrapper {
  margin-top: 9.5rem;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

section#search-box-container {
  background-color: rgba(200, 222, 255, 0.8);
  padding-bottom: 1.25rem;
}

div#search-box form {
  background: transparent url('images/search-icon.svg') no-repeat center left;
  padding-left: 2.25rem;
}

div#search-box div.form-control-feedback {
  position: absolute;
  z-index: 990;
  margin: 0 auto;
  font-size: 1rem;
}

div#search-box input[type="text"] {
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-bottom: solid thin #3c4852;
  font-weight: 300;
}

div#search-box li.nav-item {
  width: 100%;
  margin-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

div#search-box div.search-menu-group {
  width: 100%;
  background-color: transparent;
  text-align: left;
  border-color: transparent;
  outline: none;
}

div#search-box div.search-menu-group.show {
  background-color: rgba(218, 237, 254, 1);
}

div#search-box div.search-menu-group button {
  width: 100%;
  background: transparent url('images/dropdown-arrow-icon.svg') no-repeat right center !important;
  padding: .5rem 1.5rem;
  border-color: transparent;
  outline: none;
  text-align: left;
  font-weight: 500;
}

div#search-box div.search-menu-group ul.dropdown-menu {
  width: 100%;
  padding: .5rem 0;
  border: none;
  border-radius: 0;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}

div.search-menu-group ul.dropdown-menu li a {
  display: block;
  padding: 0 .25rem;
}

div.search-menu-group ul.dropdown-menu li a:hover, div.search-menu-group ul.dropdown-menu li a:focus, div.profile-plan-menu ul.dropdown-menu li a:hover, div.profile-plan-menu ul.dropdown-menu li a:focus {
  background-color: #eceeef;
  text-decoration: none;
}

div.row.categories-items article.col {
  margin-top: 2rem;
  padding-left: 5px;
  padding-right: 5px;
  display: table;
}

div.row.categories-items article.col a {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 62, 72, 1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  display: table-cell;
  vertical-align: bottom;
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
}

div.row.categories-items article.col a:hover {
  background-color: rgba(64, 85, 117, 0.7);
  text-decoration: none;
}

div.row.categories-items a span {
  position: absolute;
  left: 0;
  bottom: 12px;
  right: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

div.row.categories-items a img {
  width: inherit;
  height: 12rem;
  opacity: 0.5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

div.modal.add-to-playlist img {
  height: 2rem;
  width: auto;
  margin-right: .5rem;
}

form#add-to-playlist-form button.dropdown-toggle {
  width: 100%;
  background: rgba(109, 140, 188, 1) url('images/dropdown-arrow-white-icon.svg') no-repeat 90% center;
  padding: .5rem .75rem .5rem 1.75rem;
  display: block;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

form#add-to-playlist-form
