@charset "UTF-8";
/**
 * Teq Online Professional Development Course Details
 */

ul.course-sessions-list {
  padding: 0 0;
  list-style: none;
  margin-bottom: -10px;
}

ul.course-sessions-list li {
  margin: 5px 5px 0 0;
  float: left;
}

ul.course-sessions-list li a.course-session {
  width: 40px;
  height: 40px;
  background-color: white;
  padding-top: 12px;
  display: block;
  border: 1px solid transparent;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  text-align: center;
  font-size: .7rem;
  font-weight: 700;
  color: rgba(0, 180, 228, 1);
}

ul.course-sessions-list li a.course-session.taken {
  background-color: rgba(127, 168, 224, 1);
  color: white;
}

ul.course-sessions-list li a.course-session.active {
  background-color: rgba(0, 180, 228, 1);
  color: white;
}

ul.course-sessions-list li a.course-session:hover, ul.course-sessions-list li a.course-session.focus {
  background-color: rgba(0, 180, 228, 1);
  border: 1px solid rgba(50, 62, 72, 0.25);
  text-decoration: none;
  color: rgba(50, 62, 72, 1);
}

.course-details article {
  margin-top: 1.5rem;
}

.course-details article h6 {
  font-weight: 700;
}

.course-details article p {
  font-size: .75rem;
}

.course-details .badges img {
  width: 25%;
}

.course-details a.quiz-btn, .course-details a.group-code-btn {
  width: 65%;
  outline: none;
}

.course-details a.quiz-btn.active {
  border-color: rgb(60, 72, 82);
  opacity: 1;
}

.course-details a.group-code-btn {
  border-color: rgb(60, 72, 82);
  margin-bottom: 15px;
}

.course-details a.group-code-btn:hover, .course-details a.group-code-btn:focus, .course-details a.group-code-btn.active, .course-details a.quiz-btn:hover, .course-details a.quiz-btn.focus {
  border-color: transparent;
  outline: none;
}

.course-chapters a {
  height: 5rem;
  background-color: rgba(0, 180, 228, 1);
  display: block;
  margin-top: 1rem;
}

.course-chapters a img {
  height: inherit;
}

.course-chapters a:hover img, .course-chapters a:focus img, .course-chapters a.chapter-complete img {
  height: inherit;
  opacity: 0.3;
}

.course-chapters a.chapter-link.chapter-complete {
  background: rgba(0, 180, 228, 1) url('images/chapter-completed-icon.svg') no-repeat center center;
}

.post-form {
  padding-bottom: 7.5rem;
}

div.assignment-block {
  margin-bottom: 2.5rem;
}

input.assignment-file {
  background-color: white;
}

ul.nav.files-list li a.nav-link {
  background: rgba(255, 255, 255, 0.85) url('images/file-icons.svg') no-repeat center left;
  padding: .75rem 1rem .75rem 3rem;
  border-left: 3px solid transparent;
  margin-bottom: .25rem;
  color: rgba(0, 180, 228, 1);
}

ul.nav.files-list li a.nav-link > span {
  color: rgba(0, 180, 228, 1);
}

ul.nav.files-list li a.nav-link > small {
  color: rgb(60, 72, 82);
  margin-top: .25rem;
}

ul.nav.files-list li a.nav-link:hover, ul.nav.files-list li a.nav-link:focus, ul.nav.files-list li a.nav-link.active {
  margin-left: 1.5rem;
  background-image: url('images/file-selected-icons.svg');
  border-bottom: none;
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  transition-duration: .15s;
}

div.files-list-attachments a {
  height: 2.5rem;
  background: transparent url('images/file-attachment-icon.svg') no-repeat top left;
  display: block;
  border-bottom: thin solid rgba(60, 72, 82, 0.25);
  padding-top: .5rem;
  padding-left: 2.75rem;
  text-align: left;
  color: rgb(60, 72, 82);
}

div.files-list-attachments a:hover, div.files-list-attachments a:focus {
  opacity: 0.35;
}

div.course-quiz .modal-header {
  background-color: rgb(161, 215, 132);
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

div.course-quiz-form .form-check-label {
  padding-left: 0;
}

div.satisfaction-survery .form-check {
  background-size: cover;
  background-position: top center;
  background-color: transparent;
  background-repeat: no-repeat;
}

div.satisfaction-survery .form-check.bad {
  background-image: url('images/satisfaction-bad-icon.svg');
}

div.satisfaction-survery .form-check.fair {
  background-image: url('images/satisfaction-fair-icon.svg');
}

div.satisfaction-survery .form-check.good {
  background-image: url('images/satisfaction-good-icon.svg');
}

div.satisfaction-survery .form-check.very-good {
  background-image: url('images/satisfaction-very-good-icon.svg');
}

div.satisfaction-survery .form-check label {
  padding: 2.5rem 0 0 .5rem;
  text-align: center;
}

.course-quiz-form legend, .satisfaction-survery legend {
  padding: 0 .5rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(64, 85, 117);
}
