@charset "UTF-8";
/**
 * Teq Online Professional Development Mobile UI
 */

 @media(max-width: 768px) {

   header {
     position: relative !important;
   }

   nav#mobile-navbar {
     display: block;
   }

   nav#main-navbar, div#now-instructional-support, aside#now-chat-window, div.row.course-chapters, section.container-fluid.log-in-access, table#courses-in-progress thead, table#certifications-in-progress thead {
     display: none;
   }

   .hide-small {
     display: none !important;
   }

   section.edTech {
     background-position: 42% top;
   }

   section.container div.col-md-3.col-sm-6.text-center img {
     width: 60%;
   }

   section.under-header, div.category-search-box-wrapper {
     padding-top: 0;
     margin-top: 0;
   }

   footer li.nav-item {
     width: 18%;
   }

   div.row.categories-items article.col {
     flex: auto !important;
     padding-right: 6%;
     padding-left: 6%;
     display: block;
     margin-top: 0;
   }

   div.row.categories-items a img {
     height: 17.25rem;
   }

   div#search-box ul.nav {
     display: block;
   }

   div#search-box li.nav-item {
     width: 100%;
     background-color: rgb(218, 237, 254);
     padding: .5rem;
     margin: 1rem 0;
     -webkit-border-radius: .5rem;
     -moz-border-radius: .5rem;
     border-radius: .5rem;
   }

   div.row.log-in-access {
     background-color: rgba(236, 238, 239, 1);
   }

   div.course-details a.quiz-btn, div.course-details a.group-code-btn, div.course-details.badges, div.course-details form {
     width: 66%;
     display: block;
     margin: 50px auto;
     text-align: center;
   }

   div.form-group label.col-form-label.text-right, div.form-group small, div.form-group div.text-right, div.form-group div.form-control-feedback {
     padding: 0 25px;
     text-align: left !important;
   }

   form.sign-up-form button {
     width: auto;
     padding: 1rem 6.25rem;
    }

    div.modal.add-to-playlist form, section.modal-footer section.container {
      width: 100%;
    }

    div.modal.add-to-playlist form div.col-1.align-self-center, div.modal.share-playlist-no-course-addition form div.col-1.align-self-center {
      padding: 0 0;
    }

    table.course-activity-table a, tr.green-chapter-bg > td > a, tr.orange-session-bg > td > a, tr.orange-chapter-bg > td > a {
      background: none !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
      font-size: 1.25rem;
    }

    table#courses-in-progress tr th, table#courses-in-progress tr td, table#certifications-in-progress tbody th, table#certifications-in-progress tbody td {
      width: 100%;
      height: auto;
      display: block;
      text-align: center;
    }

    table#courses-in-progress tr.green-bg td:nth-last-child(2), table#courses-in-progress tr.green-chapter-bg td:nth-last-child(2), table#certifications-in-progress tr.orange-bg td:nth-last-child(1), table#certifications-in-progress tr.orange-bg td:nth-last-child(3), table#certifications-in-progress tr.orange-bg td:nth-last-child(4), table#certifications-in-progress tr.orange-chapter-bg td:nth-last-child(1), table#certifications-in-progress tr.orange-chapter-bg td:nth-last-child(3), table#certifications-in-progress tr.orange-chapter-bg td:nth-last-child(4), table#certifications-in-progress tr.orange-session-bg td:nth-last-child(1), table#certifications-in-progress tr.orange-session-bg td:nth-last-child(3), table#certifications-in-progress tr.orange-session-bg td:nth-last-child(4) {
      display: none;
    }

    table#courses-in-progress tr.green-bg td:nth-last-child(3):after, table#courses-in-progress tr.green-chapter-bg td:nth-last-child(3):after, table#certifications-in-progress tr.orange-bg td:nth-last-child(5):after, table#certifications-in-progress tr.orange-chapter-bg td:nth-last-child(5):after, table#certifications-in-progress tr.orange-session-bg td:nth-last-child(5):after {
      content: ' completed';
    }

    table#courses-in-progress tr.green-bg th:first-child, table#certifications-in-progress tr.orange-bg th:first-child {
    padding-top: 12px;
    }

    table#courses-in-progress tr.green-bg td:last-child, table#certifications-in-progress tr.orange-bg td:nth-last-child(2) {
      padding-bottom: 24px;
    }

    table#courses-in-progress tr.green-chapter-bg a, table#certifications-in-progress tr.orange-chapter-bg a, table#certifications-in-progress tr.orange-session-bg a {
      font-size: 1rem;
    }

 }
