@charset "UTF-8";
/**
 * Teq Online Professional Development Pricing Plans and Sign Up Forms
 */

section.pricing-plans {
  background: url('images/pricing-plans-bg.jpg') no-repeat center top;
  background-size: contain;
  padding-bottom: 5rem;
}

section.pricing-plans article div.card {
  transition: all .25s ease-in-out;
}

section.pricing-plans article div.card:hover {
  transform: scale(1.02);
}

section.pricing-plans a.btn {
  padding: .75rem 1rem;
  margin: 0 2px 15px 2px;
  color: white;
  transition: all .25s ease-in-out;
}

section.pricing-plans a.btn:hover, section.pricing-plans a.btn:focus {
  opacity: 0.75;
}

section.pricing-plans div.card-header.basic {
  background-color: rgb(109, 140, 188);
}

section.pricing-plans a.btn.basic-plan {
  background-color: rgb(109, 140, 188);
}

section.pricing-plans div.card-header.individual {
  background-color: rgb(161, 215, 132);
}

section.pricing-plans a.btn.individual-plan {
  background-color: rgb(161, 215, 132);
}

section div.card-header.school-district {
  background-color: rgb(79, 197, 221);
}

section.pricing-plans a.btn.school-district-plan {
  background-color: rgb(79, 197, 221);
}

section.pricing-plans a.btn.group-sign-up {
  background-color: rgb(60, 72, 82);
}

section.pricing-plans li.nav-item {
  margin: 0 auto;
}

section.pricing-plans dl, section.pricing-plans dd  {
  font-size: 1rem;
  font-weight: 300;
}

form.sign-up-form button {
  width: 100%;
  padding: 1rem 1.25rem;
}

section.hubspot-form-fields span.hs-form-required {
  display: none;
  text-indent: -99999px;
}

section.hubspot-form-fields div.field.hs-form-field input[type="text"], section.hubspot-form-fields div.field.hs-form-field input[type="email"], section.hubspot-form-fields div.field.hs-form-field input[type="tel"] {
  height: 1.5rem;
  background-color: white;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.25;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section.hubspot-form-fields div.field.hs-form-field select {
  height: 2.75rem;
  width: 95%;
  background-color: white;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: 1rem;
}

section.hubspot-form-fields div.hs_submit input[type="submit"], section.hubspot-form-fields div.hs_submit input.hs-button {
  padding: 1rem 1.75rem;
  background-color: rgb(0, 180, 228);
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  font-size: .95rem;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
}

section.hubspot-form-fields ul.hs-error-msgs label {
  font-size: .85rem;
  color: red;
}
